/* Body Styling */
body {
  font-family: 'Helvetica Neue', sans-serif;
  background-color: #F5ECEC;
  color: #444444;
}

/* Table Styling */
table {
  margin: 0 auto;
  border-collapse: collapse;
  border: 2px solid #444444;
  width: 80%;
  max-width: 800px;
}

table th,
table td {
  padding: 10px;
  text-align: center;
  border: 1px solid #444444;
}

table th {
  background-color: #F9D9D9;
  font-weight: bold;
  color: #444444;
}

table td {
  background-color: #FFFFFF;
}

/* Links Styling */
a {
  color: #6D1A1A;
  text-decoration: none;
  border-bottom: 2px solid #6D1A1A;
  transition: border-bottom .3s ease-in-out;
}

a:hover {
  border-bottom: 2px solid #F9D9D9;
}

/* Header Styling */
header {
  background-color: #F9D9D9;
  padding: 20px;
}

header h1 {
  color: #6D1A1A;
  font-weight: bold;
}

header h2 {
  color: #444444;
}

/* Footer Styling */
footer {
  background-color: #F9D9D9;
  padding: 10px;
  text-align: center;
}

/* Media Queries */
@media screen and (max-width: 768px) {
  table {
    width: 100%;
  }
}
